archive/
model_Basic/
model_Restnet/
model_3D/
photo/
photo_sovle/
photo_loss_acc/
Dataset_Balance.py
Magic_Test_3D.py
Magic_Train_3D.py
Magic_Test.py
Magic_Train.py
Test.py
*.h5
*.pt
*.png
* text=auto